body {
}
.table-div {
    /*white-space: normal;*/
    text-align: center;
    /*word-break: break-all;*/
}
.table-buttons-div {
    margin: 10px;
}

.table-buttons {
    margin: 3px;
}

.cell-input {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    text-align: center;
}

.latex-box {
    width: 40%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    text-align: center;
}