body {
}
.root-div {
    /*white-space: normal;*/
    text-align: center;
    /*word-break: break-all;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 0px 0px 350px;
}
.table-buttons-div {
    margin: 10px;
}

.table-buttons {
    margin: 3px;
}

.cell-input {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    text-align: center;
}

.html-table-displaybox {
    margin: 20px 0px 0px 0px;
}

.latex-box {
    width: 75%;
    height: 90%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    text-align: center;
    margin: 5px;
}

#textcodeblock {
    color: black;
    white-space: pre-wrap;
    width: 100%;
}

.colour-picker {
    margin: 0px 0px 0px 5px;
}



.text-table {
    width: 75%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    margin: 5px;
    white-space: pre-wrap;
}

.celltext {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 4px 0px;
    white-space: pre-wrap;
    /*vertical-align: bottom;
    display: table-cell;*/
}

.celldiv {

    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.hide {
    display: none
}

.show {
    display: block
}

.htmltable {
    margin-left: auto;
    margin-right: auto;
}

.maintablediv {
}